<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
    <%- include('../layout/head.ejs') %>

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="./yousef/magnific-popup.css">
    <!-- <link rel="stylesheet" href="../header_abdallah.css"> -->
    <link rel=“stylesheet” href=“https://unpkg.com/aos@next/dist/aos.css” />


</head>

<body>
    <header>

    </header>
    <main>
        <section class="hi" data-aos="fade-left">
            <% theJournies.forEach((val,ind)=>{ %>
            <% console.log(val.vidurl) %>
            <div class="journies">
                <h3 class="h3"><%= val.name %> </h3>
                <img class="img" src="<%= val.img %> " alt="hi">
                <div class="">
                    <p class="description"><%= val.description %> </p>
                </div>
                <p class="date"><%= val.date %> </p>
                <a id="<%= ind %>" class="vid" href="<%= val.vidurl %> " target="_blank">
                    <span></span>
                    <span></span>
                    lunching video</a>


            </div>


            <% }) %>


        </section>
    </main>



    <script src=“https://unpkg.com/aos@next/dist/aos.js”></script>
    <script>
        AOS.init({
            offset: 1000,
            duration: 2000
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    
    <!-- Magnific Popup core JS file -->
    <script src="./yousef/jquery.magnific-popup.js"></script>
    <script src="./yousef/yousef.js"></script>
</body>

</html>