<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../layout/head.ejs') %>
    

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="./yousef/magnific-popup.css">
    <!-- <link rel=“stylesheet” href="https://unpkg.com/aos@next/dist/aos.css" /> -->


</head>

<body>
   
    <%- include('../layout/header_abdallah.ejs') %> 

    
    <main>
        <section class="hi" data-aos="fade-left">
            <% theJournies.forEach((val,ind)=>{ %>
            <% console.log(val.vidurl) %>
            <div class="journies">
                <h3 class="h3"><%= val.name %> </h3>
                <img class="img" src="<%= val.img %> " alt="hi">
                <div class="">
                    <p class="description"><%= val.description %> </p>
                </div>
                <p class="date"><%= val.date %> </p>
                <a id="<%= ind %>" class="vid" href="<%= val.vidurl %> " target="_blank">
                    <span></span>
                    <span></span>
                    lunching video</a>


            </div>


            <% }) %>


        </section>
    </main>
    <footer>
        <div class="footer">
          <div id="button"></div>
        <div id="container">
        <div id="cont">
        <div class="footer_center">
          <section class="footer-distributed">
  
              <div class="footer-right">
  
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-github"></i></a>
  
              </div>
  
              <div class="footer-left">
  
                  <p class="footer-links">
                      <a class="link-1" href="/">Home</a>
  
                      <a href="/mission">Past mission</a>
  
                      <a href="/f_mission">future mission</a>
  
                      <a href="/all_book">Trips info</a>
  
  
                      <a href="/about">About Us</a>
                  </p>
  
                  <p> SAGITTARIUS &copy; </p>
              </div>
  
          </section>
        </div>
        </div>
        </div>
        </div>
  
      </footer>



    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 1000,
            duration: 2000
        });
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    
    <!-- Magnific Popup core JS file -->
    <script src="./yousef/jquery.magnific-popup.js"></script>
    <script src="./yousef/yousef.js"></script>
</body>

</html>