<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
    <%- include('../layout/head.ejs') %> 

</head>
<body>
    <header>
        <%- include('../layout/header.ejs') %> 
    </header>
    <main>
        <section>
            <% theJournies.forEach(val=>{ %> 
                <% console.log(val.vidURL) %> 
                <div class="journies">
                    <h3 class="h3"><%= val.name %> </h3>
                    <img class="img" src="<%= val.img %> " alt="hi">
                    <p class="date"><%= val.date %> </p>
                    <p class="description"><%= val.description %> </p>
                    <a class="vid" href="<%= val.vidURL %> ">lunching video</a>   
                     

                </div>


            <% }) %> 
            
        </section>
    </main>
    
</body>
</html>