<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./esraa/login.css">
    <link rel="stylesheet" href="./esraa/sign.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="/header_abdallah.css">


</head>
<body>
    <%- include('./layout/header_abdallah.ejs') %> 

    
<%- include('./layout/signup.ejs')%>
<%- include('./layout/login.ejs')%>
<!-- <header class="headclass">
<ul id="nav-elemnt">
    <li><a href="/myProfile">profile</a> </li>
    
    <a href="/signup"><a href="#popup1">sign Up</a></a>
    <a href="/login"><a href="#popup2">sign In</a></a>
    |
    |
    <a href="/logout">logout</a> -->
    <div id="body" class="home">
        <div class="header">
            <div>
                <img class="sat" src="./future_img/satellite.png" alt="" class="satellite">
                <div class="text">
                    <h1>SAGITTARIUS</h1>
                    <h2>SPACE TRIPS</h2>
                    
                   <a href="/signup"> <a href="#popup1" class="more">
                        <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                        SGIN UP</a></a>
                </div>
                
            </div>
        </div>
       
        <div class="down">
            <div class="between">
<h2>This photo was taken by NASA on: <%= data.date %></h2>
            </div>	
            <div>
                <img data-aos="zoom-in-right" class="todayI" src="<%= data.image%>" alt="today image">
                <div data-aos="zoom-in-left" class="desc">
                    <h2><%= data.title %></h2>
                    <p><%= data.description %></p>

                </div>
                
            </div>
            <%- include('./layout/footer.ejs') %> 
        </div>
        
    </div>
    
    <script>
        AOS.init();
      </script>
    <!-- /<a href="/login">Sign In</a> </li> -->
<!-- </ul> -->

<!-- </header> -->





























<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/js/ind.js"></script>
</body>
</html>