<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../future.css">
    <link rel="stylesheet" href="./header_abdallah.css">
    <link rel="stylesheet" href="./esraa/login.css">
    <link rel="stylesheet" href="./esraa/sign.css">
    <title>Document</title>
</head>

<body>
   
    <%- include('../layout/header_abdallah.ejs') %> 
    <%- include('../layout/signup.ejs')%>
    <%- include('../layout/login.ejs')%>
    <main>
        <% all_future_moission.forEach (val  =>{ %>
        <div>
            <h1> <%= val.name %></h1>
            <img src="<%= val.image %>" alt="rocket">
            <p> <%= val.net %></p>
            <p> <%= val.agencies%> </p>
            <p> <%=val.description %> </p>
            <p>cost: <%= val.cost%></p>
            <button><a href="/book/<%= val.id %>">Book</a></button>
        </div>
        <%});%>



    </main>

</body>

</html>