<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%-  include('../layout/header.ejs')     %>
    </header>
    <main>
        <% all_future_moission.forEach (val  =>{ %>
        <div>
            <h1> <%= val.name %></h1>
            <img src="<%= val.image %>" alt="rocket">
            <p> <%= val.net %></p>
            <p> <%= val.agencies%> </p>
            <p> <%=val.description %> </p>
            <p>cost: <%= val.cost%></p>
            <button><a href="/book/<%= val.id %>">Book</a></button>
        </div>
        <%});%>



    </main>

</body>

</html>