<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./future.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./header_abdallah.css">
    <link rel="stylesheet" href="./esraa/login.css">
    <link rel="stylesheet" href="./esraa/sign.css">
    <link rel="stylesheet" href="./valids.css">

    
    <title>Future Mission</title>
    <link rel="shortcut icon" href="./image/tab-01.png" />

</head>

<body>

    <%- include('../layout/header_abdallah.ejs') %>
    <%- include('../layout/signup.ejs')%>
    <%- include('../layout/login.ejs')%>

    <main class="container">
        <section class="card"   data-aos="fade-down" data-aos-easing="linear">
            <% all_future_moission.forEach (val  =>{ %>
            <div class="form">
                <h3 class="h3"> <%= val.name %></h3>
                 <img class="img1" src="<%= val.image %>" alt="rocket">
                     <div class="allp">
                         <p class="net" > <%= val.net %></p>
                         <p class="agencies"> <%= val.agencies%> </p>
                         <p class="ds"> <%=val.description %> </p>
                         <p class="cash">cost: <%= val.cost%> <span>$</span> </p>
                    </div>
                    <div class="btn">
                    <a class="booking" href="/book/<%= val.id %>">
                        <span></span>
                        <span></span>
                        Book</a>
                    </div>
            </div>


            <%});%>
        </section>



    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset:700,
          duration:900
      });
    </script>
</body>

</html>