<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Trips</title>
    <link rel="shortcut icon" href="./image/tab-01.png" />
    <link rel="stylesheet" href="../reset.css">

    <link rel="stylesheet" href="../future.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="./bookinfos.css"> -->
    <link rel="stylesheet" href="../header_abdallah.css">
    <link rel="stylesheet" href="../esraa/login.css">
    <link rel="stylesheet" href="../esraa/sign.css">
    <link rel="stylesheet" href="../valids.css">
    <link rel="stylesheet" href="../bookinfos.css">


</head>

<body>

    <%- include('../layout/header_abdallah.ejs') %>
    <%- include('../layout/signup.ejs')%>
    <%- include('../layout/login.ejs')%>

    <main class="container">
        <section class="card" data-aos="zoom-in">
            <% data.forEach (val  =>{ %>
            <div class="form">
                <h3 class="h3"> <%= val.name %></h3>
                <img class="img1" src="<%= val.image %>" alt="rocket">
                <div class="allp">
                    <p> <%= val.net %></p>
                    <p class="agencies"> <%= val.agencies%> </p>
                    <p class="ds"> <%=val.description %> </p>
                    <p class="cash">cost: <%= val.cost%> <span>$</span> </p>
                </div>
                <form class="btn" action="/delete/<%= val.id%>?_method=delete" method="post">
                    <button class="booking" type="submit">
                        <span></span>
                        <span></span>
                        delete</button>
                </form>
            </div>


            <%});%>
        </section>



    </main>
 
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 700,
            duration: 900
        });
    </script>
</body>

</html>